body {
    background-color: white;
}

h1 {
    display: inline;
}

header {
    
    width: 400px;
    margin: auto; 
}

main {
    background-color: rgb(206, 206, 206);
    padding: 20px;
    border-radius: 10px;

    width: 430px;
    margin: auto;
}

span {
    display: inline-block;
    background-color: rgb(131, 131, 131);
    height: 100px;
    width: 200px;
    margin: 5px;
    
}

span > a {
    width: 100px;
}

#select {
    height: auto;
    width: 430px;
}

select {
    display: block;
    width: 430px;
    margin:1px auto 1px auto;
}

input {
    display: block;
    width: 430px;
    margin: 1px auto 1px auto;
}
.imgconfirmar {
    display: block;
    margin: 20px auto 20px auto;
}

#resultados {
    width: 430px;
    
}

.voltar {
    width: 25px;
    height: 25px;
}
footer {
    width: 100px;
    margin: auto;
}