body {
    background-color: white;
}

h1 {
    display: inline;
}

header {    
    width: 400px;
    margin: auto; 
}

main {
    background-color: rgb(206, 206, 206);
    padding: 20px;
    border-radius: 10px;

    width: 430px;
    margin: auto;
}

span {
    display: inline-block;
    background-color: rgb(131, 131, 131);
    height: 100px;
    width: 200px;
    margin: 5px;
    padding: 0px;
    border-radius: 5%;
}

#select {
    height: auto;
    width: 430px;
}

select {
    display: block;
    width: 430px;
    margin:1px auto 1px auto;
}

.linkindex {
    display: inline-block;
    text-align: center;
    width: 200px;
}

input {
    display: block;
    width: 420px;
    margin: 1px auto 1px auto;
}
.imgconfirmar {
    display: block;
    margin: 20px auto 20px auto;
    cursor: pointer;
}

.btConfirmarAdd {
    display: block;
    margin: 20px auto 20px auto;
    background-color: black;
    
}

#resultados {
    position: relative;
    width: 430px;
    height: 100px;    
}

#divSaldoInicial {
    position: absolute;
    right: 50%;
    top: 5px;
}

#resultadoSaldoInicial {
    position: absolute;
    right: 10%;
    top: 5px;
}

#divRenda {
    position: absolute;
    right: 50%;
    top: 20px;
}

#resultadoRenda {
    position: absolute;
    right: 10%;
    top: 20px;
}

#divDespesa {
    position: absolute;
    right: 50%;
    top: 35px;
}

#resultadoDespesa {
    position: absolute;
    right: 10%;
    top: 35px;
}

hr {
    top: 57px;
    position: relative;
}

#divsaldoFinal {
    position: absolute;
    right: 50%;
    top: 60px;
}

#resultadoSaldoFinal{
    position: absolute;
    right: 10%;
    top: 60px;
}

.voltar {
    width: 25px;
    height: 25px;
}
footer {
    width: 100px;
    margin: auto;
}